body {
  background-image: url('../img/blossoms.jpg');
  background-size: cover;
  max-width: 600px;
  margin: 20px auto;
}

div#title {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 80px;
  text-shadow: 1px 1px 10px white;
}

div#subtitle {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

#pattern {
  /* border: 1px solid black; */
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 400px;
  border-radius: 20px;
}

.choices {
  background-size: cover;
  height: 50px;
  display: inline-block;
  flex: 0 1 50px;
  border-radius: 100%;
  border: 1px solid black;
}

#board {
  background-color: rgba(255, 255, 255, .4);
  border-radius: 10px;
  height: 400px;
  width: 400px;
  overflow: hidden;
  margin: 0 auto;
}

#guess {
  width: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
}

.guessColor {
  border-radius: 100%;
  background-color: lightgray;
  background-size: cover;
  border: 1px solid lightgray;
  width: 50px;
  height: 50px;
  display: inline-block;
  flex: 0 1 50px;
  margin: 0 10px;
}

#status {
  width: 50px;
  height: 50px;
  border: 1px dotted lightgray;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
}

.guessStatus {
  border-radius: 100%;
  background-color: gray;
  border: 1px solid gray;
  width: 20px;
  height: 20px;
  display: inline-block;
  flex: 0 1 17px;
  margin: 2px;
}

.blackPeg {
  background-color: black;
}

.whitePeg {
  background-color: white;
}

#red {
  /* background-color: white; */
  background-image: url('../img/red_ninja.png');
}
#orange {
  /* background-color: white; */
  background-image: url('../img/orange_ninja.png');
}
#yellow {
  /* background-color: white; */
  background-image: url('../img/yellow_ninja.png');
}
#green {
  /* background-color: white; */
  background-image: url('../img/green_ninja.png');
}
#blue {
  /* background-color: white; */
  background-image: url('../img/blue_ninja.png');
}
#pink {
  /* background-color: white; */
  background-image: url('../img/pink_ninja.png');
}
