body {
  max-width: 600px;
  border: 1px solid black;
  margin: 30px auto;
}

div#title {
  text-align: center;
  font-family: calibri, sans-serif;
  font-size: 40px;
}

div#subtitle {
  text-align: center;
  font-family: calibri, sans-serif;
  font-size: 16px;
}

#pattern {
  /* border: 1px solid black; */
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 400px;
  border-radius: 20px;
}

.choices {
  background-size: cover;
  height: 50px;
  display: inline-block;
  flex: 0 1 50px;
  border-radius: 100%;
  border: 1px solid black;
}

#board {
  border: 1px solid black;
  height: 400px;
  width: 400px;
  overflow: hidden;
  margin: 0 auto;
}

#guess {
  width: 350px;
  /* border: 1px solid black; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
}

.guessColor {
  border-radius: 100%;
  background-color: gray;
  background-size: cover;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: inline-block;
  flex: 0 1 50px;
  margin: 0 10px;
}
#status {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;

}

.guessStatus {
  border-radius: 100%;
  background-color: gray;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  display: inline-block;
  flex: 0 1 17px;
  margin: 2px;
}

.blackPeg {
  background-color: black;
}

.whitePeg {
  background-color: white;
}

#red {
  background-color: white;
  background-image: url('../img/red_ninja.png');
}
#orange {
  background-color: white;
  background-image: url('../img/orange_ninja.png');
}
#yellow {
  background-color: white;
  background-image: url('../img/yellow_ninja.png');
}
#green {
  background-color: white;
  background-image: url('../img/green_ninja.png');
}
#blue {
  background-color: white;
  background-image: url('../img/blue_ninja.png');
}
#purple {
  background-color: white;
  background-image: url('../img/purple_ninja.png');
}
